# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/src/main/resources/assets/base/models/item/wrench.json
/.gradle/4.4.1/fileChanges/last-build.bin
/.gradle/4.4.1/fileContent/annotation-processors.bin
/.gradle/4.4.1/fileContent/fileContent.lock
/.gradle/4.4.1/fileHashes/fileHashes.bin
/.gradle/4.4.1/fileHashes/fileHashes.lock
/.gradle/4.4.1/fileHashes/resourceHashesCache.bin
/.gradle/4.4.1/taskHistory/taskHistory.bin
/.gradle/4.4.1/taskHistory/taskHistory.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/build/resources/main/assets/levelsandskill/lang/en_us.lang
/build/resources/main/assets/levelsandskill/lang/zh_cn.lang
/build/resources/main/assets/levelsandskill/models/item/half_heart.json
/build/resources/main/assets/levelsandskill/models/item/normal_full_heart.json
/build/resources/main/assets/levelsandskill/textures/item/half_heart.png
/build/resources/main/assets/levelsandskill/textures/item/normal_full_heart.png
/build/resources/main/mcmod.info
/build/resources/main/pack.mcmeta
/build/retromapping/replacedMain.rangemap
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/events/IEventBus.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/events/PlayerEventBus.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/items/heart/Heart.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/items/ItemRegister.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/proxy/ClientProxy.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/proxy/CommonProxy.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/quality/IQuality.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/quality/Qualitys.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/trait/ITrait.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/trait/Traits.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/utils/DataAccesser.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/utils/DataAccesserIniter.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/utils/TranslationUtil.java
/build/sources/main/java/com/m31/minecraft/forge/levelsandskill/LevelsAndSkill.java
/build/tmp/deobfMcMCP/transformed.json
/build/tmp/jar/MANIFEST.MF
/build/tmp/makeStart/extracted/net/minecraftforge/gradle/tweakers/AccessTransformerTweaker.java
/build/tmp/makeStart/extracted/net/minecraftforge/gradle/tweakers/CoremodTweaker.java
/build/tmp/makeStart/extracted/net/minecraftforge/gradle/GradleForgeHacks.java
/build/tmp/makeStart/extracted/net/minecraftforge/gradle/GradleStartCommon.java
/build/tmp/makeStart/extracted/GradleStart.java
/build/tmp/makeStart/extracted/GradleStartServer.java
/build/tmp/retromapReplacedMain/rangelog7828705526225408572.txt
/build/tmp/sourceJar/MANIFEST.MF
/out/production/LevelsAndSkill.main/assets/base/models/item/wrench.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/lang/en_us.lang
/out/production/LevelsAndSkill.main/assets/levelsandskill/lang/zh_cn.lang
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/half_heart.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_0.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_1.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_2.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_3.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_4.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_5.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_6.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_7.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_8.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_9.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_10.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/models/item/normal_full_heart_11.json
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/half_heart.png
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/normal_full_heart.png
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/normal_full_heart_nature.png
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/normal_full_heart_root.png
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/normal_full_heart_shining.png
/out/production/LevelsAndSkill.main/assets/levelsandskill/textures/item/normal_full_heart_temp.png
/out/production/LevelsAndSkill.main/mcmod.info
/out/production/LevelsAndSkill.main/pack.mcmeta
/run/config/acronym/base/General.cfg
/run/config/acronym/contenttweaker/General.cfg
/run/config/acronym/saved/material_parts_contenttweaker.json
/run/config/acronym/saved/material_parts_contenttweaker-original.json
/run/config/acronym/saved/saved_sub_blocks_contenttweaker.json
/run/config/acronym/saved/saved_sub_blocks_contenttweaker-original.json
/run/config/acronym/material_system.cfg
/run/config/jei/itemBlacklist.cfg
/run/config/jei/jei.cfg
/run/config/jei/searchColors.cfg
/run/config/jei/worldSettings.cfg
/run/config/forge.cfg
/run/config/forgeChunkLoading.cfg
/run/config/ftblib.cfg
/run/config/ftbutilities.cfg
/run/config/ias.cfg
/run/config/splash.properties
/run/crash-reports/crash-2019-08-01_00.55.57-client.txt
/run/crash-reports/crash-2019-08-01_22.19.11-client.txt
/run/crash-reports/crash-2019-08-01_22.21.47-client.txt
/run/crash-reports/crash-2019-08-01_22.41.48-client.txt
/run/crash-reports/crash-2019-08-01_23.55.18-client.txt
/run/crash-reports/crash-2019-08-01_23.56.31-client.txt
/run/crash-reports/crash-2019-08-01_23.58.26-client.txt
/run/local/client/ftblib.cfg
/run/local/client/ftbutilities.cfg
/run/local/client/sidebar_buttons.json
/run/local/ftbutilities/all_permissions.html
/run/local/ftbutilities/all_permissions_full_list.txt
/run/local/ftbutilities/player_ranks.txt
/run/local/ftbutilities/ranks.txt
/run/local/ftbutilities/server_badges.txt
/run/logs/2019-07-29-1.log.gz
/run/logs/2019-07-29-2.log.gz
/run/logs/2019-07-29-3.log.gz
/run/logs/2019-07-29-4.log.gz
/run/logs/2019-07-31-1.log.gz
/run/logs/2019-07-31-2.log.gz
/run/logs/2019-07-31-3.log.gz
/run/logs/2019-07-31-4.log.gz
/run/logs/2019-08-01-1.log.gz
/run/logs/2019-08-01-2.log.gz
/run/logs/2019-08-01-3.log.gz
/run/logs/2019-08-01-4.log.gz
/run/logs/2019-08-01-5.log.gz
/run/logs/2019-08-01-6.log.gz
/run/logs/2019-08-01-7.log.gz
/run/logs/2019-08-02-1.log.gz
/run/logs/2019-08-02-2.log.gz
/run/logs/2019-08-02-3.log.gz
/run/logs/2019-08-02-4.log.gz
/run/logs/2019-08-02-5.log.gz
/run/logs/2019-08-02-6.log.gz
/run/logs/2019-08-02-7.log.gz
/run/logs/debug-1.log.gz
/run/logs/debug-2.log.gz
/run/logs/debug-3.log.gz
/run/logs/debug-4.log.gz
/run/logs/debug-5.log.gz
/run/resources/contenttweaker/lang/en_us.lang
/run/resources/pack.mcmeta
/run/saves/新的世界/advancements/0fbf5581-7411-3cef-a8b2-2d7919ecaf6e.json
/run/saves/新的世界/advancements/1dc55782-3c00-3ed4-bf8b-76d4c6d9cc47.json
/run/saves/新的世界/advancements/2f4f52ff-0d3a-36b8-836b-d09e6352ef45.json
/run/saves/新的世界/advancements/3f18158e-f2c1-3129-a134-25632e6b98da.json
/run/saves/新的世界/advancements/4f2b9d55-5b3e-32ee-ad58-c8df44a23337.json
/run/saves/新的世界/advancements/7c2fb32a-48f4-3632-92b4-de6db3581064.json
/run/saves/新的世界/advancements/19b458ba-c952-3dc3-bceb-bb32067d178f.json
/run/saves/新的世界/advancements/78b89d61-eeb6-339b-a649-bd65ff29a266.json
/run/saves/新的世界/advancements/80fb4b31-a429-3891-a185-827168eac297.json
/run/saves/新的世界/advancements/200cfba7-fcb9-3815-8a48-1783dd9d1668.json
/run/saves/新的世界/advancements/811b757c-1be5-33cf-864a-fb91beb14990.json
/run/saves/新的世界/advancements/55199b58-d04f-3d22-9ce2-5472509a024b.json
/run/saves/新的世界/advancements/aa02bf6c-4f02-33d2-9844-c1af5eb9bb36.json
/run/saves/新的世界/advancements/acd62baf-1f62-3e9e-a7f5-5e27309e35be.json
/run/saves/新的世界/advancements/bce7419c-5709-3ee4-a73f-d19725fe2893.json
/run/saves/新的世界/advancements/eb08048d-a3b9-3008-984c-fcc8bb7d8893.json
/run/saves/新的世界/advancements/f2c5b984-5c4a-355c-800e-d2ce35cf8f1c.json
/run/saves/新的世界/advancements/f4755d8e-161a-3abe-8338-935e4189097a.json
/run/saves/新的世界/data/ftb_lib/players/player11.dat
/run/saves/新的世界/data/ftb_lib/players/player33.dat
/run/saves/新的世界/data/ftb_lib/players/player86.dat
/run/saves/新的世界/data/ftb_lib/players/player133.dat
/run/saves/新的世界/data/ftb_lib/players/player161.dat
/run/saves/新的世界/data/ftb_lib/players/player168.dat
/run/saves/新的世界/data/ftb_lib/players/player213.dat
/run/saves/新的世界/data/ftb_lib/players/player351.dat
/run/saves/新的世界/data/ftb_lib/players/player420.dat
/run/saves/新的世界/data/ftb_lib/players/player504.dat
/run/saves/新的世界/data/ftb_lib/players/player621.dat
/run/saves/新的世界/data/ftb_lib/players/player659.dat
/run/saves/新的世界/data/ftb_lib/players/player685.dat
/run/saves/新的世界/data/ftb_lib/players/player726.dat
/run/saves/新的世界/data/ftb_lib/players/player770.dat
/run/saves/新的世界/data/ftb_lib/players/player896.dat
/run/saves/新的世界/data/ftb_lib/players/player970.dat
/run/saves/新的世界/data/ftb_lib/players/player997.dat
/run/saves/新的世界/data/ftb_lib/teams/singleplayer.dat
/run/saves/新的世界/data/ftb_lib/universe.dat
/run/saves/新的世界/data/capabilities.dat
/run/saves/新的世界/data/Mineshaft.dat
/run/saves/新的世界/data/Temple.dat
/run/saves/新的世界/data/villages.dat
/run/saves/新的世界/DIM1/data/capabilities.dat
/run/saves/新的世界/DIM1/data/villages_end.dat
/run/saves/新的世界/DIM1/forcedchunks.dat
/run/saves/新的世界/DIM-1/data/capabilities.dat
/run/saves/新的世界/DIM-1/data/villages_nether.dat
/run/saves/新的世界/DIM-1/forcedchunks.dat
/run/saves/新的世界/playerdata/0fbf5581-7411-3cef-a8b2-2d7919ecaf6e.dat
/run/saves/新的世界/playerdata/1dc55782-3c00-3ed4-bf8b-76d4c6d9cc47.dat
/run/saves/新的世界/playerdata/2f4f52ff-0d3a-36b8-836b-d09e6352ef45.dat
/run/saves/新的世界/playerdata/3f18158e-f2c1-3129-a134-25632e6b98da.dat
/run/saves/新的世界/playerdata/4f2b9d55-5b3e-32ee-ad58-c8df44a23337.dat
/run/saves/新的世界/playerdata/7c2fb32a-48f4-3632-92b4-de6db3581064.dat
/run/saves/新的世界/playerdata/19b458ba-c952-3dc3-bceb-bb32067d178f.dat
/run/saves/新的世界/playerdata/78b89d61-eeb6-339b-a649-bd65ff29a266.dat
/run/saves/新的世界/playerdata/80fb4b31-a429-3891-a185-827168eac297.dat
/run/saves/新的世界/playerdata/200cfba7-fcb9-3815-8a48-1783dd9d1668.dat
/run/saves/新的世界/playerdata/811b757c-1be5-33cf-864a-fb91beb14990.dat
/run/saves/新的世界/playerdata/55199b58-d04f-3d22-9ce2-5472509a024b.dat
/run/saves/新的世界/playerdata/aa02bf6c-4f02-33d2-9844-c1af5eb9bb36.dat
/run/saves/新的世界/playerdata/acd62baf-1f62-3e9e-a7f5-5e27309e35be.dat
/run/saves/新的世界/playerdata/bce7419c-5709-3ee4-a73f-d19725fe2893.dat
/run/saves/新的世界/playerdata/eb08048d-a3b9-3008-984c-fcc8bb7d8893.dat
/run/saves/新的世界/playerdata/f2c5b984-5c4a-355c-800e-d2ce35cf8f1c.dat
/run/saves/新的世界/playerdata/f4755d8e-161a-3abe-8338-935e4189097a.dat
/run/saves/新的世界/region/r.0.0.mca
/run/saves/新的世界/region/r.0.-1.mca
/run/saves/新的世界/region/r.-1.0.mca
/run/saves/新的世界/region/r.-1.-1.mca
/run/saves/新的世界/stats/0fbf5581-7411-3cef-a8b2-2d7919ecaf6e.json
/run/saves/新的世界/stats/1dc55782-3c00-3ed4-bf8b-76d4c6d9cc47.json
/run/saves/新的世界/stats/2f4f52ff-0d3a-36b8-836b-d09e6352ef45.json
/run/saves/新的世界/stats/3f18158e-f2c1-3129-a134-25632e6b98da.json
/run/saves/新的世界/stats/4f2b9d55-5b3e-32ee-ad58-c8df44a23337.json
/run/saves/新的世界/stats/7c2fb32a-48f4-3632-92b4-de6db3581064.json
/run/saves/新的世界/stats/19b458ba-c952-3dc3-bceb-bb32067d178f.json
/run/saves/新的世界/stats/78b89d61-eeb6-339b-a649-bd65ff29a266.json
/run/saves/新的世界/stats/80fb4b31-a429-3891-a185-827168eac297.json
/run/saves/新的世界/stats/200cfba7-fcb9-3815-8a48-1783dd9d1668.json
/run/saves/新的世界/stats/811b757c-1be5-33cf-864a-fb91beb14990.json
/run/saves/新的世界/stats/55199b58-d04f-3d22-9ce2-5472509a024b.json
/run/saves/新的世界/stats/aa02bf6c-4f02-33d2-9844-c1af5eb9bb36.json
/run/saves/新的世界/stats/acd62baf-1f62-3e9e-a7f5-5e27309e35be.json
/run/saves/新的世界/stats/bce7419c-5709-3ee4-a73f-d19725fe2893.json
/run/saves/新的世界/stats/eb08048d-a3b9-3008-984c-fcc8bb7d8893.json
/run/saves/新的世界/stats/f2c5b984-5c4a-355c-800e-d2ce35cf8f1c.json
/run/saves/新的世界/stats/f4755d8e-161a-3abe-8338-935e4189097a.json
/run/saves/新的世界/forcedchunks.dat
/run/saves/新的世界/icon.png
/run/saves/新的世界/level.dat
/run/saves/新的世界/level.dat_old
/run/saves/新的世界/session.lock
/run/.iasx
/run/options.txt
/run/usercache.json
/run/usernamecache.json
/实现多trait组合.patch
